@media screen and (max-width:991px) {


    .menu {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 50px;
        background-color: black;
        transform: translateX(-100%);
        transition: all 0.3s linear;
        z-index: 100;
        color: #fff;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
    }

    .menuToggle .menu {
        transform: translateX(0);
        justify-content: flex-start;
    }

    .header.white_bg .menu-link {
        color: #fff;
    }

    .menu ul {
        flex-direction: column;
    }

    .menu-toggle {
        display: block;
    }

    .menu-close {
        position: absolute;
        top: 20px;
        right: 20px;
        display: block;
        text-align: end;
        z-index: 55;
        height: 1.6rem;
        width: 1.6rem;
    }

    .top_logo {
        display: none;
    }

    .nav .logo {
        display: block;
    }

    .nav {
        justify-content: space-between;
    }

    .col-md-4 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .account_img {
        height: 350px;
        margin-top: 2rem;
      }
      .account_inner_text {
        padding: 20px 10px 10px 10px;
      }

      .deposit_img {
        min-height: 180px;
        height: 200px;
        margin-top: 2rem;
      }
      .deposit_inner_text {
        padding: 20px 10px 10px 10px;
      }
      .deposit_inner_text h2 {
        font-size: 1.5rem;
        line-height: 1.8rem;
      }
      .deposit_inner_text .para,
      .deposit_list li {
        font-size: 0.98rem;
      }

      /* chat first */

        .site-row {
        flex-wrap: wrap;
        text-align: center;
      }
    
      /* .betting_site_logo {
        width: 120px;
        height: 70px;
        margin-bottom: 10px;
      } */

      .betting_site_logo {
        height: 70px;
        margin-bottom: 10px;
        max-width: 90%;
        margin: 0 auto;
    }
    
      .site-details {
        flex: 100%;
        flex-wrap: wrap;
        justify-content: center;
        color: #fff;
      }
    
      .site-details div {
        width: 45%;
        margin: 5px 0;
        font-size: 13px;
      }
    
      .button {
        width: 100%;
        margin-top: 10px;
      }
    
      .review-btn {
        display: inline-block;
        padding: 8px 14px;
        border-radius: 6px;
        background: linear-gradient(90deg, #fcb503 46%, #e5881b 54%, #fcb11a);
        color: #fff;
        font-size: 14px;
      } 


      .hometable-mobile-card {
        display: none;
    }

    .comparison-table {
      display: none;
  }

  .bonus-table {
    min-width: 1000px;
}

.bonus-section .container .table-div {
  overflow-x: auto;
  }

    

     
    }
    




@media screen and (max-width:767px) {

    .after_banner_image {
        height: 350px;
    }

    .menu-link {
    padding: 4px;
    font-size: 16px;
}

.after_banner_text {
    padding: 0;
}

.hero-content p {
    margin-bottom: 0px;
}

.promo-img, .promo-text {
    height: 100px !important;
}

.col-md-4, .col-sm-6 {
    flex: 0 0 100%;
    max-width: 100%;
}
.review-card {
    height: 250px;
}
.review-title h3 {
    font-size: 1.1rem;
}

.account_section {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 0;
  }
  .account_img {
    height: 350px;
    margin-top: 1.5rem;
  }
  .account_inner_text h2 {
    font-size: 1.3rem;
    line-height: 1.6rem;
  }
  .account_inner_text .para,
  .account_list li {
    font-size: 0.98rem;
  }
  .deposit_img {
    min-height: 140px;
    height: 160px;
    margin-top: 1.5rem;
  }
  .deposit_inner_text h2 {
    font-size: 1.3rem;
    line-height: 1.6rem;
  }
  .deposit_inner_text .para,
  .deposit_list li {
    font-size: 0.96rem;
  }
  .deposit_section {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 0;
  }

  .rg-section {
    padding: 1.2rem 0.7rem;
}
.rg-section h2 {
    font-size: 1.5rem;
}

.rg-list li {
    flex-wrap: wrap;
}

.hero-content h1 {
  font-size: 3.125rem;
  line-height: 4.125rem;
}

.choose_licensed_img {
  height: 300px;
}

/* chat first */

 .site-row {
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.betting_site_logo {
  width: 100px;
  height: 60px;
  margin-bottom: 10px;
}

.site-details {
  flex-direction: column;
  align-items: center;
}

.site-details div {
  width: 100%;
  font-size: 12px;
  padding: 4px 0;
}

.button {
  margin-top: 12px;
}

.review-btn {
  width: 100%;
  text-align: center;
} 


.hometable-mobile-card {
  display: block;
}

.site-row {
  display: none;
}


.hometable-mobile {
  display: block;
}

}


@media screen and (max-width:575px) {

    .pt-8 {
        padding-top: 2.5rem;
    }

    .pb-8 {
        padding-bottom: 2.5rem;
    }

    .after_banner_image {
        height: 250px;
    }

    .deposit_section {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
      }
      .deposit_img {
        min-height: 100px;
        height: 120px;
      }

      .game_content_image {
        height: 320px;
    }

}

@media screen and (max-width:425px){
  .hero-content h1 {
    font-size: 2.125rem;
    margin-bottom: 1rem;
    line-height: 3.125rem;
}

.hero-img {
  height: 380px;
  width: 100%;
}

.choose_licensed {
  margin-top: 3rem;
}

.second_heading {
  font-size: 2.1rem;
  line-height: 3rem;
}

.para {
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
  font-style: normal;
  line-height: 1.2rem;
  letter-spacing: 1px;
}

.third-heading {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

}